button,input {
  font:inherit;
}
button {
  color:inherit;
  cursor:pointer;
}
button:disabled {
  cursor:not-allowed;
  opacity:.5;
}
a {
  color:inherit;
  text-decoration:none;
}
h1,h2,h3,p {
  margin:0;
}
